@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

@import "tailwindcss";


@theme {
  --font-sans: "Inter", "Geist", "Roboto", sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;

  --color-app-bg: #F9FAFB;
  --color-card-bg: #FFFFFF;
  --color-divider: #E5E7EB;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;

  --color-accent-indigo: #4F46E5;
  --color-accent-hover: #4338CA;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text-primary);
  background-color: var(--color-app-bg);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-app-bg);
  color: var(--color-text-primary);
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

